[submodule "external/PX4-Matrix"]
	path = external/PX4-Matrix
	url = https://github.com/PX4/PX4-Matrix.git
[submodule "external/fastdds_actuator_controls"]
	path = external/fastdds_actuator_controls
	url = https://github.com/sarath-menon/fastdds_actuator_controls.git
[submodule "external/fastdds_mocap"]
	path = external/fastdds_mocap
	url = https://github.com/sarath-menon/fastdds_mocap.git
[submodule "external/mahi-gui"]
	path = external/mahi-gui
	url = https://github.com/mahilab/mahi-gui.git
[submodule "external/helper"]
	path = external/helper
	url = https://github.com/sarath-menon/helper.git
[submodule "lib/dynamics_lib"]
	path = lib/dynamics_lib
	url = https://github.com/sarath-menon/dynamics_lib.git
[submodule "lib/simulator_lib"]
	path = lib/simulator_lib
	url = https://github.com/sarath-menon/simulator_lib.git
[submodule "lib/communication_lib"]
	path = lib/communication_lib
	url = https://github.com/sarath-menon/communication_lib.git
